<body class="bg-dark text-white">
    <header class="border-bottom border-secondary">
        <div class="container bg-dark">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container-fluid">
                    <i class="navbar-brand fa-solid fa-chess-queen text-white"></i><a
                        class="navbar-brand fw-bold fs-4 text-white" href="#">ChessBattle</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-white fw-light" href="#salas">Salas de juego</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-light" href="#noticias">Noticias destacadas</a>
                            </li>
                        </ul>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end bg-dark text-white">
                            <button type="submit" class="btn btn-dark border border-1 fw-light"><a
                                    class="text-decoration-none text-light" href="#registro">Suscribite</a></button>
                            <button type="submit" class="btn btn-danger fw-light"><a
                                    class="text-decoration-none text-light" href="/admin/adminlog">Soy Administrador</a></button>
                        </div>
                    </div>
                </div>
        </div>
        </nav>
        </div>
    </header>
    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner mt-4">
                <div class="carousel-item active">
                    <div class="color-carousel">
                        <img src="/images/big-1.png" alt="">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <div class="vivo">EN VIVO</div>
                        <h5 class="fs-4 fw-bold text-white">Battle Royale Chess</h5>
                        <p class="fw-lighter">Todos contra todos hasta que solo quede uno</p>
                        <button class="btn btn-danger py-2 mb-1 fw-light">Participaras?</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="color-carousel">
                        <img src="/images/big-2.png" alt="">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <div class="vivo">EN VIVO</div>
                        <h5 class="fs-4 fw-bold text-white">Battle Royale Chess</h5>
                        <p class="fw-lighter">Todos contra todos hasta que solo quede uno</p>
                        <button class="btn btn-danger py-2 mb-1 fw-light">Participaras?</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="color-carousel">
                        <img src="/images/big-3.png" alt="">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <div class="vivo">EN VIVO</div>
                        <h5 class="fs-4 fw-bold text-white">Battle Royale Chess</h5>
                        <p class="fw-lighter">Todos contra todos hasta que solo quede uno</p>
                        <button class="btn btn-danger py-2 mb-1 fw-light">Participaras?</button>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container py-4" id="salas">
        <p class="fs-3">Salas <small class="fs-4 text-muted">de juegos</small></p>
        <p class="mb-3">Es hora de subir tu nivel compitiendo contra los mejores jugadores</p>
        <div class="row p-2">
            <div class="col-md-3 rounded-4">
                <div class="color">
                    <img src="/images/small-1.png" alt="">
                </div>
                <h5 class="fs-6 fw-400 pt-2">Fisher's Club</h5>
                <p class="colorido">1.875 miembros</p>
            </div>
            <div class="col-md-3 rounded-4">
                <div class="color">
                    <img src="/images/small-2.png" alt="">
                </div>
                <h5 class="fs-6 fw-400 pt-2">Team Kasparov</h5>
                <p class="colorido">1.875 miembros</p>
            </div>
            <div class="col-md-3  rounded-4">
                <div class="color">
                    <img src="/images/small-3.png" alt="">
                </div>
                <h5 class="fs-6 fw-400 pt-2">Capablanca</h5>
                <p class="colorido">1.875 miembros</p>
            </div>
            <div class="col-md-3 rounded-4">
                <div class="color">
                    <img src="/images/small-4.png" alt="">
                </div>
                <h5 class="fs-6 fw-400 pt-2">Team Magnus</h5>
                <p class="colorido">1.875 miembros</p>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-md-3 rounded-4">
                <div class="color">
                    <img src="/images/small-5.png" alt="">
                </div>
                <h5 class="fs-6 fw-400 pt-2">Argentina</h5>
                <p class="colorido">1.875 miembros</p>
            </div>
            <div class="col-md-3 rounded-4">
                <div class="color">
                    <img src="/images/small-6.png" alt="">
                </div>
                <h5 class="fs-6 fw-400 pt-2">Brasil</h5>
                <p class="colorido">1.875 miembros</p>
            </div>
            <div class="col-md-3  rounded-4">
                <div class="color">
                    <img src="/images/small-7.png" alt="">
                </div>
                <h5 class="fs-6 fw-400 pt-2">Chile</h5>
                <p class="colorido">1.875 miembros</p>
            </div>
            <div class="col-md-3 rounded-4">
                <div class="color">
                    <img src="/images/small-8.png" alt="">
                </div>
                <h5 class="fs-6 fw-400 pt-2">Uruguay</h5>
                <p class="colorido">1.875 miembros</p>
            </div>
        </div>
    </div>
    <div class="container-fluid nuevo py-5" id="noticias">
        <div class="container">
            <p class="fs-3">Noticias <small class="text-muted">Destacadas</small></p>
            <p class="fw-lighter mb-3">Descubre las noticias más destacadas del mundo ajedrecistico</p>
            <div class="row p-2">
                {{#each novedades}}
                <div class="col-md-4">
                    <div class="colorNuevo">
                        <img src="{{imagen}}" alt="{{titulo}}">
                    </div>
                    <h5 class="fs-6 mb-1 mt-3">{{titulo}}</h5>
                    <p class="colorido mb-3">{{subtitulo}}</p>
                    <button class="btn btn-danger py-2 px-4 mb-1 fw-light" data-bs-toggle="modal"
                        data-bs-target="#noticiamodal{{id}}">Leer más</button>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <!-- Modal -->
    {{#each novedades}}
    <div class="modal fade" id="noticiamodal{{id}}" tabindex="-1" aria-labelledby="noticiamodalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h5 class="modal-title fw-bolder" id="noticiamodalLabel">{{titulo}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="{{imagen}}" class="mb-3" alt="{{titulo}}">
                    <h6 class="fst-italic">{{subtitulo}}</h6>
                    <p>{{cuerpo}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="container py-4" id="registro">
        <p class="fs-3">Suscribite a nuestro Newsletter</p>
        <p class="mb-3">Recibe todas las noticias del ajedrez en tu correo</p>
        <form action="" method="post">
            <div class="row p-2">
                <div class="col-md-4 rounded-4">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" aria-label="First name" aria-required="First name" name="nombre" id="nombre"
                            placeholder="Escribe tu nombre">
                    </div>
                </div>
                <div class="col-md-4 rounded-4">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" aria-required="Email" name="email" id="email" placeholder="Escribe tu email">
                    </div>
                </div>
                <div class="col-md-4 rounded-4">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-danger mt-4">Enviar</button>
                    </div>
                    {{#if message}}
                    <p class="text-muted font-weight-bold text-center"> {{message}} </p>
                    {{/if}}
                </div>
            </div>
        </form>
    </div>



    <footer class="container-fluid py-4 nuevito">
        <div class="row ms-5 ps-5">
            <div class="col-md-3 ps-1 d-md-flex justify-content-md-start">
                <i class="fa-solid fa-chess-queen text-secondary px-2 py-1"></i>
                <p class="text-secondary">ChessBattle 2022</p>
            </div>
            <div class="col-md-3">
                <p class="text-secondary fs-6">Section</p>
                <a href="#" class="eQ text-secondary fs-6">Home</a>
                <a href="#" class="eQ text-secondary fs-6">Features</a>
                <a href="#" class="eQ text-secondary fs-6">Pricing</a>
                <a href="#" class="eQ text-secondary fs-6">FAQs</a>
                <a href="#" class="eQ text-secondary fs-6">About</a>
            </div>
            <div class="col-md-3">
                <p class="text-secondary fs-6">Section</p>
                <a href="#" class="eQ text-secondary fs-6">Home</a>
                <a href="#" class="eQ text-secondary fs-6">Features</a>
                <a href="#" class="eQ text-secondary fs-6">Pricing</a>
                <a href="#" class="eQ text-secondary fs-6">FAQs</a>
                <a href="#" class="eQ text-secondary fs-6">About</a>
            </div>
            <div class="col-md-3">
                <p class="text-secondary fs-6">Section</p>
                <a href="#" class="eQ text-secondary fs-6">Home</a>
                <a href="#" class="eQ text-secondary fs-6">Features</a>
                <a href="#" class="eQ text-secondary fs-6">Pricing</a>
                <a href="#" class="eQ text-secondary fs-6">FAQs</a>
                <a href="#" class="eQ text-secondary fs-6">About</a>
            </div>
        </div>
    </footer>